<%= render "shared/header"%>
<div class="margin">
</div>

<% if @article.present? %>
      <div class='article-content'>
          <div class='article-name'>
            <h1><%=@article.name  %></h1>
          </div>
            <div class='article-username'>
            <h1><%=@article.user.nickname  %></h1>
          </div>
          <div class='article-text' >
            <p><%= markdown(@article.text).html_safe %></p>
          </div>
      </div>
<% end %>